[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third-party/fastgltf"]
	path = third-party/fastgltf
	url = https://github.com/spnda/fastgltf.git
